### Print :-

In [51]:
print("my name is","yasmeen",", my age is :", 22)

x = 10
y = 50

print("value of x =", x , ", value of y =", y)
print("value of x = {} , value of y = {}".format(x,y))
print(f"value of x = {x} , value of y = {y}")

my name is yasmeen , my age is : 22
value of x = 10 , value of y = 50
value of x = 10 , value of y = 50
value of x = 10 , value of y = 50

In [52]:
name = "yasmeen"
course_name = "data engineer"
id = 12345
print(f"my name is {name} , the course name is {course_name} , my id is {id}")

my name is yasmeen , the course name is data engineer , my id is 12345

### Var :-

In [26]:
x = 30 ; y = 20
print(x , y)

#مش بتسمح بالتعريف في نفس السطر غير بالشكل ده او نستخدم الطريقة دي
x, y = 30, 20 

# او كدة
x = 30
y = 20
print(x , y)

30 20
30 20

### Data types :-

In [ ]:
a="y"
print(type(a))

x=30.5
print(type(x))

b=3
print(type(b))

approved = True   #لازم تبقى اول حرف كابيتال 
print(type(approved))

<class 'str'>
<class 'float'>
<class 'int'>
<class 'bool'>

### String

In [ ]:
#كل حرف من الاسترينج عبارة عن index بنبدأ من الصفر 
name = "yasmeen mohamed mohamed roshdy"
name[5:10]
name[-5:-1]
name[0:30] 
name[0:30:2]   #الخطوة اللي بيمشيهاهي الرقم التالت 
name[::]       #كل الاسترينج 
name[::-1]     #عكس الاسترينج

'yasmeen mohamed mohamed roshdy'

### Comments:-

In [27]:
print("hello world")
print("amit learning")

hello world
amit learning

In [28]:
print("hello world")
#print("amit learning")

hello world

In [33]:
'''
print("hello world")
print("hello world")
print("hello world")
print("hello world")
print("hello world")
'''
print("amit learning")

amit learning

### Built function :-

In [ ]:
name = "yasmeen mohamed mohamed roshdy"

#Upper case
print(name.upper())

#lower case
print(name.lower())

#replace
print(name.replace("yasmeen" , "soo"))

#capitalize  (first letter capital)
print(name.capitalize())  

#title (first letter of each word capital)
print(name.title())

YASMEEN MOHAMED MOHAMED ROSHDY
yasmeen mohamed mohamed roshdy
soo mohamed mohamed roshdy
Yasmeen mohamed mohamed roshdy
Yasmeen Mohamed Mohamed Roshdy